export(bgpart)
export(groupNet)
export(groupDist)
export(infomapConsole)
export(bgplot)
export(bgstats)
export(endemism)
export(rangerarity)
export(bidensity)
export(submodularity)

importFrom("igraph", induced_subgraph)
importFrom("igraph", V)
importFrom("igraph", modularity)
importFrom("Rcpp", evalCpp)
importFrom("chronosphere", mapplot)
useDynLib(obigeo, .registration = TRUE)
